.containerMain {
    border: 2px solid black;
    padding: 10px;
    width: 200px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
  }
  .container{
    border: 2px solid black;
    
    height: 120px;
  }
  
  .item {
    background-color: lightblue;
    padding: 5px;
    margin: 5px;
    cursor: move;
  }
  
  .item.dragged {
    opacity: 0.5;
  }
  